__pycache__/
*.py[cod]
*$py.class


*.so

# Distribution/Packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

venv/
ENV/
env/
.venv/

.env
.env.*

token.json
credentials.json
config.json
client_secret_1001341426100-hci1ufqrbd60i0bonot68oiiruar0i4r.apps.googleusercontent.com.json

*.log

.vscode/
